<div class="app__container">
  <h1>Создание пользователя</h1>
  <form [formGroup]="registrForm" class="form__container" (ngSubmit)="sendUserData()">
    <tui-input formControlName="nameControl">
	     Введите имя
	     <input tuiTextfield/>
	  </tui-input>
    <tui-input formControlName="surControl">
 	    Введите фамилию
 	    <input tuiTextfield/>
 	  </tui-input>
    <tui-select
      formControlName="langControl"
      [valueContent]="langName">
	    <tui-data-list-wrapper
        *tuiDataList
        [itemContent]="langName"
        [items]="languages">
      </tui-data-list-wrapper>
        Выберите язык
    </tui-select>
    <ng-template
      #langName
      let-item>
        <span>{{ item.label }}</span>
    </ng-template>
    <div
      tuiGroup
      class="group"
      collapsed="true">
      <tui-radio-block
        *ngFor="let role of roles"
        contentAlign="right"
        formControlName="roleControl"
        [hideRadio]="true"
        [item]="role">
        {{ role.label }}
      </tui-radio-block>
    </div>
    <button
      appearance="primary"
      tuiButton
      type="submit">
      Создать
    </button>
  </form>
</div>
