.form__container {
  margin-top: 24px;
  width: 504px;
  display: flex;
  flex-direction: column;
}

.registrForm__element {
  margin-bottom: 24px;
}

.registrForm__add-btn {
  width: 215px;
}

.registrForm__create-btn {
  width: 146px;
}

.registrForm__skill {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.registrForm__skill-input {
  width: 100%;
}

.form__error {
  color: #DD4C1E;
  margin-top: 5px;
  font-size: 13px;
}
